* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: white;
  min-width: 1262px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.first-block {
  background: linear-gradient(
      180deg,
      rgba(53, 66, 103, 0.0001) 0%,
      #151824 95.04%
    ),
    url(images/japany.png);

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.wrapper {
  max-width: 1065px;
  margin: 0 auto;
}

.header {
  padding-top: 56px;
}

.header__sidebar {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  background-image: url(/images/icons/odigo.svg);

  width: 82px;
  height: 31px;
}

.header__navigation-items {
  display: flex;
}

.links {
  list-style: none;
}

.links {
  margin-right: 82px;
}

.links:last-child {
  margin-right: 0;
}

.links a {
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  text-decoration: none;
}

.links a:hover {
  opacity: 0.6;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 110px;
  height: 100%;
  width: 100%;
}

.intro {
  width: 885px;
  height: 330px;

  display: flex;
  flex-direction: column;
}

.intro__title {
  font-size: 50px;
  font-style: normal;
  line-height: 60px;
  width: 619px;
  margin-bottom: 22px;
}

.intro__subtitle {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  width: 546px;
  margin-bottom: 59px;
}

.forms {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.like {
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  margin-left: 33px;
  width: max-content;
}

.intro__forms {
  position: relative;
  width: 297px;
}

input[type="button"] {
  border: none;
  background-color: #1b7dff;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding: 15px 39px;
  width: 171px;
  height: 58px;
  outline: none;
  cursor: pointer;
}

#we,
#you {
  visibility: hidden;
}

.radio-check {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
}

.radio-check:hover {
  background-color: rgb(139, 184, 226);
}

.intro__line {
  margin-top: 22px;
  width: 297px;
  border: 2px solid #bfc0c5;
}

.white-fon {
  width: 1262px;
  height: 230px;
  margin: 0 auto;
  bottom: 0;
  background-color: white;
  position: absolute;
}

.white-fon h2 {
  color: #102746;
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;
  padding-top: 93px;
  padding-left: 99px;
}

.white-fon-sec {
  width: 1262px;
  height: 435px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 20px 20px rgba(21, 24, 36, 0.15993);
  color: #000000;
}

.about-cultere__blok {
  width: 317px;
  height: 288px;
  margin: 0 55px;
}

.about-culter-img {
  margin-bottom: 37px;
}

.ablout-culture__titile {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 26px;
}

.about-culture__text {
  font-size: 16px;
  line-height: 24px;
  color: black;
  margin-bottom: 39px;
}

.leran {
  color: #006dfe;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}

.arrow {
  display: inline-block;
  margin-left: 26px;
}

.wrapper-be {
  max-width: 1065px;
  display: flex;
  margin: 0 auto;
}

.trip-japan {
  width: 1264px;
  height: 100%;
  margin: 131px auto;
  display: flex;
  flex-wrap: wrap;
}

.trip-japan__title {
  width: inherit;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.trip-japan__heading {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  position: relative;
  margin-bottom: 36px;
  padding: 0 10px;
}

.trip-japan__heading::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 10px;
  display: inline-block;
  width: 100%;
  height: 3px;
  border: 2px solid #006dfe;
}

.lerann {
  color: #006dfe;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 26px;
}

.trip-japan__pcitures {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

img[alt="fuji"] {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

img[alt="kyoto"] {
  max-width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

img[alt="tokyo"],
img[alt="nli"],
img[alt="sappro"] {
  max-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 5px;
}

.small-pictures {
  width: max-content;
  display: flex;
  margin-top: 14px;
}

.big-pictures {
  width: 100%;
  height: 100%;
}

.fuji,
.kyoto,
.tokyo,
.nli,
.sappro {
  position: relative;
  display: inline-block;
}

.fuji::after {
  content: "Mount Fuji";
  display: inline-block;
  position: absolute;

  font-weight: bold;
  font-size: 50px;
  color: white;
  bottom: 27px;
  left: 29px;
}

.kyoto::after {
  content: "Kyoto";
  display: inline-block;
  position: absolute;

  font-weight: bold;
  font-size: 50px;
  color: white;
  bottom: 27px;
  left: 29px;
}

.tokyo::after {
  content: "Tokyo";
  display: inline-block;
  position: absolute;

  font-weight: bold;
  font-size: 50px;
  color: white;
  bottom: 27px;
  left: 29px;
}

.nli::after {
  content: "Niigata";
  display: inline-block;
  position: absolute;

  font-weight: bold;
  font-size: 50px;
  color: white;
  bottom: 27px;
  left: 29px;
}

.sappro::after {
  content: "Sappro";
  display: inline-block;
  position: absolute;

  font-weight: bold;
  font-size: 50px;
  color: white;
  bottom: 27px;
  left: 29px;
}

.block-culture__about {
  width: 519px;
  float: right;
  margin-top: 26px;
}

.block-culture__img {
  float: left;
  clear: both;
  padding: 0 10px;
}

.block-culture {
  width: 1271px;
  margin: 131px auto;
  overflow: hidden;
}

.block-culture__title {
  color: #102746;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
}

.block-culture__text {
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  display: inline-block;
  width: 519px;
  margin-bottom: 58px;
}

.left {
  float: left;
  padding: 0 10px;
}

.rigth {
  float: right;
}

.down {
  margin-top: 30px;
  margin-bottom: 45px;
}

.block-travel {
  width: 1264px;
  margin: 152px auto;
  overflow: hidden;
}

.block-travel__card {
  width: 390px;
  height: auto;
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 60px;
  float: left;
  padding: 0 10px;
}

.block-travel__img {
  position: relative;
  margin-bottom: 45px;
}

.block-travel__figcaption {
  position: absolute;
  bottom: 5px;
  display: flex;
  align-items: center;
  height: 55px;
  background: rgba(21, 24, 36, 0.6);
  width: 104%;
}

.figcaption_text {
  margin-left: 25px;
  text-transform: uppercase;
  margin-right: 157px;
}

.numbers {
  position: relative;
  margin-right: 34px;
}

.numbers::after {
  content: url(images/icons/heart.svg);
  position: absolute;
  margin-left: 4px;
}

.dialgo {
  position: relative;
}

.dialgo::after {
  content: url(images/icons/dialog.svg);
  position: absolute;
  margin-left: 12px;
}

.block-travel__text {
  color: #102746;
  margin-bottom: 31px;
  font-size: 16px;
  line-height: 24px;
}

input[value="see more"] {
  width: 118px;
  height: 42px;
  background: #006dfe;
  padding: 12px 19px;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
}

.mg {
  margin: 0 45px;
}

.big-bg-picture {
  height: 609px;
  width: 100%;
  background-image: url(images/footer-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.big-bg-picture__button {
  width: 112px;
  height: 112px;
  margin: auto;
  padding-top: 249px;
}

.big-bg-picture__circle {
  width: 112px;
  height: 112px;
  background-color: white;
  border-radius: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-bg-picture__tringle {
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
  border-width: 25px 0 25px 33px;
  border-color: transparent transparent transparent black;
  margin-left: 7px;
}

.footer {
  background: #0e1d28;
  height: 370px;
  position: relative;
  padding-top: 118px;
}

.footer-wrap {
  width: 1080px;
  height: 135px;
  margin: auto;

  display: flex;
  justify-content: space-between;
}

.footer-wrap-links {
  width: 545px;

  display: flex;
  justify-content: space-around;
}

.big-choise {
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.footer__navigation li a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 16px;
  margin-bottom: 3px;
}

li {
  list-style: none;
}

/* медиа */
@media only screen and (max-width: 1000px) {
  .links a {
    font-size: 23px;
  }

  .intro__subtitle {
    font-size: 23px;
    line-height: 1.6;
  }

  .like {
    font-size: 23px;
  }

  .intro__forms {
    width: 100%;
    margin-right: 12px;
  }

  .intro__line {
    width: 100%;
    position: absolute;
  }

  .ablout-culture__titile {
    font-size: 23px;
    font-weight: 700;
  }

  .about-culture__text {
    font-size: 20px;
  }

  .ablout-culture__titile {
    min-width: max-content;
  }

  .about-culture__text {
    min-width: 230px;
  }

  .block-culture__text {
    font-size: 23px;
    line-height: 1.6;
  }

  .rigth {
    margin-top: 8px;
  }

  .block-travel__text {
    font-size: 23px;
    line-height: 1.6;
  }

  input[value="see more"] {
    width: 100%;
    font-size: 20px;
  }

  .footer__navigation > li a {
    font-size: 23px;
    line-height: 1.5;
  }

  .footer-wrap__links > span {
    font-size: 30px;
    display: inline-block;
    margin-bottom: 18px;
  }
}

@media only screen and (max-width: 758px) {
  .links a {
    font-size: 30px;
  }

  .intro__subtitle {
    width: 100%;
    font-size: 30px;
  }

  .white-fon {
    max-width: 800px;
    height: 170px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .white-fon h2 {
    padding: 0;
  }

  .white-fon-sec {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .about-cultere__blok {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .wrapper-be {
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
  }

  .about-culture__text {
    font-size: 30px;
    line-height: 1.4;
  }

  .ablout-culture__titile {
    font-size: 26px;
  }

  .block-culture__text {
    font-size: 30px;
    line-height: 1.4;
  }

  .block-culture__title {
    font-size: 30px;
    font-weight: 600;
  }

  .block-travel__text {
    font-size: 30px;
  }

  .footer__navigation > li a {
    font-size: 30px;
  }

  .footer-wrap-links {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .heder__navigation {
    display: none;
  }

  .intro__subtitle {
    font-size: 40px;
  }

  .intro {
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 15px;
  }

  .intro__title {
    width: auto;
  }

  .white-fon {
    transform: translateY(100%);
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.7);
  }

  .white-fon h2 {
    font-size: 50px;
  }

  .wrapper-be {
    padding: 15% 0;
  }

  .about-cultere__blok {
    width: 100%;
    margin: 3% 0;
  }

  .content {
    height: 79%;
  }

  .forms {
    width: 50%;
    height: inherit;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -10%;
  }

  .button {
    display: flex;
    justify-content: center;
  }

  input[type="button"] {
    font-size: 30px;
    width: 50%;
  }

  .like {
    font-size: 35px;
  }

  .ablout-culture__titile {
    font-size: 45px;
  }

  .about-culture__text {
    font-size: 40px;
  }

  .leran {
    font-size: 30px;
  }

  .trip-japan__heading {
    font-size: 40px;
  }

  .lerann {
    font-size: 30px;
  }

  .trip-japan {
    height: 100%;
    width: 100%;
  }

  .trip-japan__pcitures {
    height: 100%;
    width: 100%;
  }

  img[alt="tokyo"],
  img[alt="nli"],
  img[alt="sappro"],
  img[alt="kyoto"],
  img[alt="fuji"] {
    width: 100%;
  }

  .big-pictures {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0 15px;
  }

  .fuji,
  .kyoto {
    display: block;
  }

  .small-pictures {
    display: block;
    width: 100%;
    margin: 0 10px;
  }

  .tokyo,
  .nli,
  .sappro {
    display: block;
  }

  .block-culture {
    float: none;
    margin: 0;
    width: 100%;
  }

  .block-culture__img {
    float: none;
    clear: none;
  }

  .block-culture__about {
    float: none;
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
  }

  .block-culture__text {
    width: 80%;
    text-align: center;
  }

  img[alt="samurai"],
  img[alt="red"] {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .block-culture__title {
    margin-bottom: 20px;
  }

  .block-travel {
    width: 100%;
  }

  .block-travel img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .flex-card-img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .mg {
    margin: 0 0px;
  }

  .block-travel__card {
    width: 50%;
  }

  .block-travel__figcaption {
    width: 100%;
    height: 15%;
  }

  .block-travel__card {
    font-size: 40px;
  }

  .block-travel__text {
    font-size: 35px;
  }

  input[value="see more"] {
    height: auto;
  }

  .footer-wrap {
    height: 100%;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .block-culture__title {
    font-size: 60px;
    margin-bottom: 5%;
  }

  .block-culture__text {
    font-size: 50px;
    width: 95%;
  }

  .leran {
    font-size: 40px;
  }

  .arrow {
    display: none;
  }

  .block-culture__about {
    margin-bottom: 5%;
  }

  .block-travel__card {
    width: 100%;
  }

  .block-travel__text {
    font-size: 45px;
  }

  input[type="button"] {
    font-size: 35px;
    border-radius: 40px;
  }

  .block-travel__button {
    text-align: center;
  }

  .block-travel__card {
    margin: 5% 0px;
    margin-bottom: 0px;
  }

  .block-travel__figcaption {
    justify-content: space-around;
  }

  .figcaption_text,
  .numbers {
    margin: 0;
  }

  .footer {
    height: 100%;
  }

  .footer-wrap {
    display: block;
  }

  .footer-wrap-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer-wrap__links {
    margin: 5% 0;
  }

  .footer-wrap__links > span {
    font-size: 45px;
  }

  .footer__navigation > li a {
    font-size: 40px;
    margin: 12px 0;
  }

  .trip-japan__heading {
    font-size: 50px;
  }

  .about-culture__text {
    font-size: 50px;
  }

  .intro__subtitle {
    display: none;
  }

  .intro__title {
    display: none;
  }

  .forms {
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .button {
    width: 100%;
  }

  input[type="button"] {
    height: auto;
  }
}

@media only screen and (max-width: 380px) {
  .like {
    font-size: 60px;
  }

  .intro__line {
    min-width: 800px;
    margin-top: 60px;
  }
}
